
body {
  background-image: url(assets/jungle.avif);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: 'Rubik Marker Hatch', sans-serif ;
}

.player1 { 
  background-color: #63b568;
  opacity: .7;
  margin-left: -17em;
  height: 59em;
  width: 15em;
  align-items: center;
  
}

.player2 {
  background-color:(99,181,104,.7);
  opacity: .7;
  height:59em;
  width: 15em;
  margin-right: -1em;
  align-items: center;
}

article {
  display: flex;
  flex-direction: column;
  width: 20%
}

main {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  height: 57em;
  width: 104em;
}
 
body {
  height: 100%;
} 

h1, h4{
  font-size: 25px;
}

h2 {
  text-align: center;
  font-size: 50px;
  margin-top: 14%
}

h3 {
  text-align: center;
  font-size: 32px;
  margin-top: 1%
}

p {
  margin-top: 20%
}

span {
  font-size: 55px
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  margin-left: -15%;
  gap: 50px;
}

.boxes {
  border: 2px solid green; 
  width: 113px;
  height: 123px;
  display: flex;
  justify-content: center;
  border-radius: 10%;
  box-shadow: 10px 10px;
  font-size: 65px
}

.hidden {
  display: none 
}