
body {
  background-image: url(assets/jungle-forest.avif);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: 'Rubik Marker Hatch', sans-serif ;
}

.player1 { 
  background-color: #63b568;
  opacity: .4;
  margin-left: -10em;
  height: 59em;
  width: 15em;
  align-items: center;
}

.player2 {
  background-color:#63b568;
  opacity: .4;
  height:59em;
  width: 15em;
  margin-right: 5em;
  align-items: center;
}

article {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  width: 20%
}

main {
  display: flex;
  justify-content: space-evenly;
  /* border: 1px solid black; */
  flex-direction: row;
  height: 57em;
  width: 104em;
}
 body {
  height: 100%;
} 

h1, h4{
  font-size: 25px;
  

}

h2 {
  text-align: center;
  font-size: 35px;
}

h3 {
  text-align: center;
  font-size: x-large;
}

p {
  margin-top: 20%
}

span {
  font-size: 55px
}

.hibiscus-1, .mushroom-1 {
    display: flex;
    justify-content: center;
    margin-top: -15%;
    margin-left: 26%;
    position: absolute;
    font-size: 150%;
}

.hibiscus-2, .mushroom-2 {
  font-size: 150%;
  margin-top: -1%;
  margin-left: 2%;
  position: absolute;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(75px, 7px);
  justify-items: center;
  margin-top: 40%;
  margin-left: -5%;
  gap: 50px;
}

.boxes {
  border: 2px solid green; 
  width: 114px;
  height: 104px;
  border-radius: 10%;
  box-shadow: 5px 5px;
  font-size: 32px
}
.box-1, box-2 {
  position: relative;
}

.hidden {
  display: none 
}